body {
  box-sizing: border-box;
  color: #1d1d1d;
  font-size: 16px;
  line-height: 1;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  word-break: keep-all;
}

a {
  color: #1d1d1d;
  text-decoration: none;
}
