/* header */

header {
  background-color: #3a3a3a;
}

header .inner {
  max-width: 1020px;
  margin: 0 auto;
}

header ul.menu {
  height: 44px;
  display: flex;
  justify-content: space-between;
}

header ul.menu > li {
  display: flex;
}

header li.apple-logo > a,
header li.search-logo > a,
header li.basket-logo > a {
  width: 14px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center 13px;
}

header li.apple-logo > a {
  background-image: url("../images/header_apple.svg");
}

header li.search-logo > a {
  background-image: url("../images/header_search.svg");
}

header li.basket-logo > a {
  background-image: url("../images/header_bag.svg");
  position: relative;
}

header ul.menu > li > a {
  padding: 0 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: aliceblue;
  opacity: 0.8;
}

header ul.menu > a:hover {
  opacity: 1;
}

header li.basket-logo .basket {
  width: 290px;
  padding: 10px 20px;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
  position: absolute;
  top: 100%;
}

header .basket .message {
}

header .basket ul {
}

header .basket ul li {
}

header .basket ul li a {
}
