/* header */

header {
  background-color: #3a3a3a;
}

header .inner {
  max-width: 1020px;
  margin: 0 auto;
}

header ul.menu {
  display: flex;
  justify-content: space-between;
  height: 44px;
}

header ul.menu > li {
  display: flex;
}

header li.basket-logo {
  position: relative;
}

header li.apple-logo > a,
header li.search-logo > a,
header li.basket-logo > a {
  width: 14px;
  background-repeat: no-repeat;
  background-position: center 13px;
  text-indent: -9999px;
}

header li.apple-logo > a {
  background-image: url("../images/header_apple.svg");
}

header li.search-logo > a {
  background-image: url("../images/header_search.svg");
}

header li.basket-logo > a {
  background-image: url("../images/header_bag.svg");
}

header ul.menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 12px;
  text-decoration: none;
  color: aliceblue;
  opacity: 0.8;
}

header ul.menu > a:hover {
  opacity: 1;
}

header .basket {
  position: absolute;
  top: calc(100% + 4px);
  right: -6px;
  width: 290px;
  padding: 10px 20px;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

header .basket.show {
  visibility: visible;
  opacity: 1;
}

header .basket .arrow {
  position: absolute;
  overflow: hidden;
  top: -10px;
  right: 12px;
  width: 20px;
  height: 10px;
}

header .basket .arrow:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 12px;
  height: 12px;
  border: 1px solid #d2d2d2;
  background-color: #fff;
  transform: rotate(45deg);
  transform-origin: 0 0;
}

header .basket .message {
  text-align: center;
  padding: 30px 0;
  color: #6e6e6e;
  font-size: 13px;
}

header .basket ul {
  margin-top: 10px;
}

header .basket ul li {
  border-top: 1px solid #d2d2d2;
}

header .basket ul li a {
  display: block;
  padding: 14px;
  font-size: 13px;
  color: #0071e3;
}

header .basket ul li a:hover {
  cursor: pointer;
  text-decoration: underline;
}
