/* header */

header {
  background-color: #3a3a3a;
}

header .inner {
  position: relative;
  max-width: 1020px;
  margin: 0 auto;
}

header ul.menu {
  display: flex;
  justify-content: space-between;
  height: 44px;
}

header ul.menu > li {
  display: flex;
}

header li.basket-logo {
  position: relative;
}

header li.apple-logo > a,
header li.search-logo > a,
header li.basket-logo > a {
  width: 14px;
  background-repeat: no-repeat;
  background-position: center 13px;
  text-indent: -9999px;
}

header li.apple-logo > a {
  background-image: url("../images/header_apple.svg");
}

header li.search-logo > a {
  background-image: url("../images/header_search.svg");
}

header li.basket-logo > a {
  background-image: url("../images/header_bag.svg");
}

header ul.menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 12px;
  text-decoration: none;
  color: aliceblue;
  opacity: 0.8;
}

header ul.menu > a:hover {
  opacity: 1;
}

header .basket {
  position: absolute;
  top: calc(100% + 4px);
  right: -6px;
  width: 290px;
  padding: 10px 20px;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

header .basket.show {
  visibility: visible;
  opacity: 1;
}

header .basket .arrow {
  position: absolute;
  overflow: hidden;
  top: -10px;
  right: 12px;
  width: 20px;
  height: 10px;
}

header .basket .arrow:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 12px;
  height: 12px;
  border: 1px solid #d2d2d2;
  background-color: #fff;
  transform: rotate(45deg);
  transform-origin: 0 0;
}

header .basket .message {
  text-align: center;
  padding: 30px 0;
  color: #6e6e6e;
  font-size: 13px;
}

header .basket ul {
  margin-top: 10px;
}

header .basket ul li {
  border-top: 1px solid #d2d2d2;
}

header .basket ul li a {
  display: block;
  padding: 14px;
  font-size: 13px;
  color: #0071e3;
}

header .basket ul li a:hover {
  cursor: pointer;
  text-decoration: underline;
}

header .search-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

header .search {
  position: relative;
  max-width: 680px;
  margin: 0 auto;
}

header .search .shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

header .search .textfield {
  position: relative;
}

header .search input {
  width: 100%;
  height: 44px;
  padding: 0 40px;
  border: none;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 17px;
  color: #fff;
}

header .search .search-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 44px;
  background-image: url("../images/header_search.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
}

header .search .search-closer {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 44px;
  background-image: url("../images/header_close.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
  cursor: pointer;
}

header .search .search-closer:hover {
  opacity: 1;
}

header .search .autocompletes {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  padding: 26px 40px 20px;
  border-radius: 0 0 18px 18px;
  box-sizing: border-box;
  background-color: #fff;
}

header .search .autocompletes h3 {
  margin-bottom: 12px;
  font-size: 12px;
  color: #6e6e6e;
}

header .search .autocompletes ul {
}

header .search .autocompletes ul li {
}

header .search .autocompletes ul li a {
  display: block;
  margin: 0 -14px;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  cursor: pointer;
}

header .search .autocompletes ul li:hover a {
  background-color: #f5f5f5;
  color: #0071e3;
}

header.searching ul.menu > li {
  display: none;
}
